<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
</head>

<body>
    <form name="addform" action="/articles"  method="post" accept-charset="utf-8" >
        <h1>Article - Add</h1>
        <div>
            <label>title：</label>
            <input type="text" name="title" placeholder="請輸入標題名稱" >
        </div>
        <div>
            <input type='submit' value='Submit'>
            <input type='button' value='Back' onclick="javascript: location.href='/homepage'">
        </div>
    </form>
</body>

</html>
