 <!DOCTYPE html>
 <html lang="">
     <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title> <%= gg %> </title>
        
 
         <!-- Bootstrap CSS -->
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
         <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
             <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->

     </head>    
     <body style="background-color:#D9D9D9;">
             
        <div class="container-fluid">
            <div class="row">
                <div style="position:relative;">
                    <div class="col-md-12 col-lg-12" style="padding-top:30px;padding-bottom:100px; z-index: 1;position:absolute;">
                        <img src="profile7.jpg">
                    </div>
                    <div class="col-md-12 col-lg-12" style="padding-top:30px;padding-bottom:100px; z-index: 2;position:absolute;">
                        <img src="profile3.png">
                        <div class="col-lg-12" style="padding-bottom:3%;"></div>
                        <div class="col-lg-12" style="background-color:white; padding-top:3px;"></div>   
                        <div class="col-lg-12" style="padding-bottom:3%;"></div>

                        <div class="row" style="background-color:white;margin-top:2%;">
                            <div class="col-md-3 col-lg-2">
                                <ul style="font-size:24px">
                                    <br style="padding-top:6px;padding-bottom:6px;"><a href="#education">學經歷</a></br>
                                    <br style="padding-top:6px;padding-bottom:6px;">作品集</br>
                                    <br style="padding-top:6px;padding-bottom:6px;"><a href="#cv">自介</a></br>
                                </ul>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <!-- 學經歷 -->
                                <div class="row" id="education" >
                                    <h1>學經歷</h1>
                                    <div class="col-lg-12" style="background-color:white; padding-top:3px;"></div>
                                    <div class="col-lg-12" style="padding-bottom:1%;"></div>
                                    <div class="col-sm-6 col-md-4 col-lg-3" >
                                        <div class="thumbnail" style="border:1px solid#8f8f8f;">
                                            <img src="./ncu_logo.png" style="padding-top:5%">
                                            <div class="caption">
                                                <h3>碩士/M.S.</h3>
                                                <p>中央大學資訊工程系</p>
                                                <p>M.S. CS National Central University</p>
                                                
                                                <p><a href="http://www.csie.ncu.edu.tw/" class="btn btn-default" role="button">Link</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="thumbnail" style="border:1px solid#8f8f8f;">
                                            <img src="./ncu_logo.png" style="padding-top:5%">
                                            <div class="caption">
                                                <h3>學士/B.S.</h3>
                                                <p>中央大學資訊工程系</p>
                                                <p>Ｂ.S. CS National Central University</p>

                                                <p><a href="http://www.csie.ncu.edu.tw/" class="btn btn-default" role="button">Link</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="thumbnail" style="border:1px solid#8f8f8f;">
                                            <img src="./chenggong_logo.jpg" style="padding-top:5%">
                                            <div class="caption">
                                                <h3>高中/High School</h3>
                                                <p>臺北市立成功高級中學</p>
                                                <p>Taipei Municipal Chenggong High School</p>

                                                <p><a href="http://saturn.cksh.tp.edu.tw/" class="btn btn-default" role="button">Link</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="thumbnail" style="border:1px solid#8f8f8f;">
                                            <img src="./lifeguard_logo.png" style="padding-top:5%">
                                            <div class="caption">
                                                <h3>證照／Licens</h3>
                                                <p>水上救生協會證照考取</p>
                                                <p>Chinese Taipei Water Life Saving Association</p>

                                                <p><a href="http://www.ctwlsa.org.tw/" class="btn btn-default" role="button">Link</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="thumbnail" style="border:1px solid#8f8f8f;">
                                            <img src="./toeic_logo.jpg" style="padding-top:5%">
                                            <div class="caption">
                                                <h3>證照／Licens</h3>
                                                <p>TOEIC 670分以上</p>
                                                <p>TOEIC >670</p>

                                                <p><a href="http://www.toeic.com.tw/" class="btn btn-default" role="button">Link</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- 學經歷 -->
                                <div class="row" id="cv">
                                    <h1>簡歷</h1>
                                    <h1> <a href= "./articles">留言板列表</a> </h1>
                                    <input type='submit' value='增加' onclick="javascript: location.href='./article/new'">
                                    
                                    <div class="col-lg-12" style="background-color:white; padding-top:3px;"></div>
                                    <div class="col-lg-12" style="padding-bottom:1%;"></div>
                                    <p style="font-size:20px;">
                                        My name is jia-ping Lin. I Graduated from national central university with bachelor in computer science engineer. I think
                                        i am a person who live with passion. Discovering decent restaurants and having meals
                                        with my friends is my favorite pastime. Last year, i have experience in developing android
                                        app in class. We made some games and apps to help people. For example we made an app
                                        which users can upload their calendar to help them choose the best time for them to hang
                                        out. It feels really great when you see someone using your app . As one of the teammate,i
                                        may not be the best coder.But i think i can think as an user instead of a producer to
                                        give my team some advices. and i alway have some interesting idea from daily life to
                                        create some useful and practical apps.So, maybe i’m not the best coder from all the talented
                                        candidate but i am a creative developer. I also have experience in cooperating with friend
                                        to made a website for game competition. At this project I am responsible for the comment
                                        page. I think the most difference between high school and university is self learning.
                                        For example,During this project,i need to learn the skill we need by google it. I learn
                                        so much from this experience.I learn how to communicate with others.When i have different
                                        idea with my teammate i try to persuade them or accept their idea when their idea is
                                        better than mine. In the last year of my college, i take a class about IOT. In this class
                                        i learn about the way that the sensor communicate with each other by the protocal. Besides
                                        the theory,i also have chance to combine sensors to a functional application to know
                                        how it really work. I wish one day, i can combine my skill and interest to make life
                                        more convenience and enjoyable. so i am looking for a position as an IOT developer in
                                        your company to make my dream come true.

                                    </p>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        

        
 
         <!-- jQuery must import before boostrap -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <!-- Bootstrap JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     </body>
 </html>
 